@use '../settings/config' as *;

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(var(--color-button));
    border-radius: var(--buttons-radius);
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1;
    min-height: 5.6rem;
    padding: 1rem 2.4rem;
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(var(--color-button));
    color: rgb(var(--color-button-text));
    transition: var(--duration-default) ease;
    -webkit-appearance: none;
    appearance: none;
    min-width: 7.6rem;
    text-align: center;
    &:disabled,
    &[aria-disabled='true'],
    &.disabled {
        cursor: not-allowed;
        opacity: 0.4;
    }
    &--primary {
        &:not(:disabled):not([aria-disabled='true']):not(.disabled):hover {
            border-color: $primary-dark;
            background-color: $primary-dark;
            color: $primary-light;
            transform: scale(1.04);
        }
        .path {
            stroke: rgb(var(--color-button-text));
        }
    }
    &--primary-stable {
        min-height: 4rem !important;
        height: 4rem !important;
        max-height: 4rem;
        &:not(:disabled):not([aria-disabled='true']):not(.disabled):hover {
            transform: scale(1) !important;
            border-color: $primary-dark;
            background-color: $primary-dark;
            color: $primary-light;
        }
    }
    &--secondary {
        border-color: rgb(var(--color-button));
        background-color: rgb(var(--color-button-text));
        color: rgb(var(--color-button));
        &:not(:disabled):not([aria-disabled='true']):not(.disabled):hover {
            color: rgb(var(--color-button-text));
            background-color: rgb(var(--color-button));
            transform: scale(1.04);
        }
    }
    &--transparent {
        border-color: rgb(var(--color-button));
        background-color: transparent;
        color: rgb(var(--color-button));
        &:not(:disabled):not([aria-disabled='true']):not(.disabled):hover {
            color: $primary-dark;
            border-color: $primary-dark;
            transform: scale(1.04);
        }
    }
}