// Grid
$sm: 576px;
$md: 750px;
$lg: 990px;
$xl: 1200px;
$xxl: 1400px;


// Colors
// Use these colors only if the color schemes do not provide the necesarry set of colors.
$white: #F9F1E7;
$primary: #C19A5B;
$primary-light: #ECD4AF;
$primary-dark: #8A6937;



$ruby: #BC1E1E;