@use '../settings/config' as *;

.accordion {
    &__title {
        h2 {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .custom-accordion__icon {
        top: 55%;
    }
}