@use '../settings/config' as *;

.adaptive-banner {
    position: relative;
    &.fit-to-container {
        &--all {
            margin-right: 1.5rem;
            margin-left: 1.5rem;
        }
        &--all,
        &--desktop {
            @include media-breakpoint-up(md) {
                margin-right: 5rem;
                margin-left: 5rem;
            }
            @include media-breakpoint-up(xl) {
                margin-right: auto;
                margin-left: auto;
                max-width: calc(var(--page-width) - 5rem * 2);
            }
        }
        &--mobile {
            @include media-breakpoint-down(md) {
                margin-right: 1.5rem;
                margin-left: 1.5rem;
            }
        }
    }
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: '';
        z-index: 1;
    }
    &--bg-image {
        & > svg,
        .adaptive-banner__image:not(.image-height-auto) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        .adaptive-banner__image.image-height-auto {
            width: 100%;
            height: auto;
            position: absolute;
        }
        .adaptive-banner__content-wrapper {
            height: 100%;
        }
        .adaptive-banner__content-box--bg {
            background: rgb(var(--color-background));
            padding-right: 20px;
            padding-left: 20px;
        }
    }
    &:not(&--bg-image) {
        &.fit-to-container--all {
            .page-width {
                max-width: unset;
                padding: unset;
            }
        }
        &.fit-to-container--desktop {
            @include media-breakpoint-up(md) {
                .page-width {
                    max-width: unset;
                    padding: unset;
                }
            }
        }
        &.fit-to-container--mobile {
            @include media-breakpoint-down(md) {
                .page-width {
                    max-width: unset;
                    padding: unset;
                }
            }
        }
    }
    &__section-link {
        display: block !important;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 3;
    }
    & > svg,
    &__image {
        display: block;
        width: 100%;
        height: 100%;
    }
    &__image {
        object-fit: cover;
    }
    &__content-wrapper {
        position: relative;
        display: flex;
        z-index: 2;
        .description {
            display: block;
            & > *:not(:first-child) {
                margin-top: 16px;
                margin-bottom: 0;
            }
            h1, h2, h3, h4, h5, .h1, h2, .h3, .h4, .h5 {
                margin: 0;
            }
        }
        .btn {
            &:not(:first-child) {
                margin-top: 32px;
            }
            @include media-breakpoint-up(sm) {
                min-width: 16.2rem;
            }
        }
    }
    &__content-box {
        width: 100%;
    }
}
