@use '../settings/config' as *;

.blog-posts {
    overflow: hidden;
    &__title {
        h2 {
            margin-top: 0;
            margin-bottom: 40px;
            @include media-breakpoint-down(md) {
                margin-bottom: 24px;
            }
        }
    }
    &__wrapper {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        &.is-loaded {
            opacity: 1;
        }
    }
    &__tile {
        a {
            display: block;
            text-decoration: none;
            &:hover {
                img {
                    transform: scale(1.05);
                }
                span {
                    color: $primary-dark;
                }
            }
        }
        picture {
            display: flex;
            aspect-ratio: 1 / 1; 
            position: relative;
            overflow: hidden;
        }
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.3s;
        }
        span {
            transition: 0.3s;
            color: rgb(var(--color-heading));
            font-weight: 700;
            margin-top: 8px;
            display: block;
        }
    }
    &__date {
        margin-top: 8px;
        display: block;
        color: $greyscale-50;
    }
    &__excerpt {
        margin-top: 8px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $greyscale-80;
        * {
            margin: 0;
        }
    }
    &__bottom {
        margin-top: 40px;
        @include media-breakpoint-down(md) {
            margin-bottom: 24px;
        }
    } 
}