@use '../settings/config' as *;

.shopify-section-group-footer-group {
    z-index: 1;
}
.footer {
    &__block-mobile {
        border-bottom: solid 1px $greyscale-40;
        @include media-breakpoint-up(md) {
            display: none !important;
        }
    }
    &__mobile-accordion-icon {
        width: 10px;
        height: 10px;
        display: inline-block;
        position: relative;
    }
    svg {
        position: absolute;
        top: 0;
        left: -6px;
        transition: transform 0.3s ease;
    }
    &__mobile-accordion {
        display: none !important;
        @include media-breakpoint-down(lg) {
            display: block !important;
        }
    }
    &__mobile-accordion-title {
        cursor: pointer;
        width: 100%;
        transition: (--duration-medium);
        padding-bottom: 16px;
        padding-top: 32px;
        &.active svg {
            transform: rotate(180deg);
        }
    }
    &__mobile-accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
    &__logo-wrapper {
        max-width: 81px;
        img {
            max-width: 81px;
            width: 100%;
            height: 100%;
            max-height: 81px;
            object-fit: contain;
        }
    }
    &__content-top {
        padding-bottom: 16px;
        @include media-breakpoint-down(lg) {
            flex-direction: column;
        }
        @include media-breakpoint-down(md) {
            padding-top: 0;
            padding-bottom: 17px;
        }
    }
    .footer-block__details-content {
        @include media-breakpoint-down(md) {
            margin-bottom: 20px;
            margin-top: 8px;
        }
        .list-menu__item--link {
            line-height: 24px !important;
        }
    }
    &__blocks-wrapper {
        width: 100%;
        @include media-breakpoint-down(md) {
            display: block !important;
        }
        .footer-block {
            width: 33.333% !important;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            @include media-breakpoint-down(lg) {
                align-items: flex-start;
            }
            > div {
                margin-left: 16px;
                @include media-breakpoint-down(lg) {
                    margin-left: 0;
                    margin-right: 16px;
                }
            }
        }
        .footer-block--menu {
            @include media-breakpoint-down(md) {
                display: none !important;
            }
        }
    }
    .footer-block__heading {
        letter-spacing: 2px;
        line-height: 100%;
        margin-bottom: 24px;
        @include media-breakpoint-down(md) {
            margin-bottom: 0;
        }
    }
    &__newsletter-heading {
        margin-bottom: 16px;
        margin-top: 24px;
        * {
            margin: 0;
            text-align: left;
        }
    }
    .footer-block__newsletter {
        min-width: 288px;
        margin-right: 110px;
        @include media-breakpoint-down(xl) {
            min-width: 288px;
            margin-right: 36px;
        }
        @include media-breakpoint-down(lg) {
            max-width: 100%;
            min-width: 200px;
            width: 100%;
            margin-bottom: 32px;
        }
        @include media-breakpoint-down(md) {
            margin-right: 0;
            margin-bottom: 4px;
        }
    }
    .newsletter-form__button {
        margin-left: -1px;
    }
    .newsletter-form__field-wrapper {
        @include media-breakpoint-down(md) {
            max-width: 100%;
        }
       .field {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &::after,
            &::before {
                content: none !important;
            }
       }
       .field__input {
            padding: 0 0 0 16px !important;
            border: solid 1px $greyscale-60;
            border-right: none;
            height: 40px;
            color: $greyscale-60;
            &:focus,
            &:focus-visible {
                outline: none !important;
                box-shadow: none !important;
                border: solid 1px $primary;
                border-right: none;
            }
       }
       .field__label {
            left: 16px !important;
            top: 9px !important;
       }
    }
    .list-menu__item {
        transition: 0.3s !important;
        text-decoration: none !important;
        padding: 0;
        margin-bottom: 14px;
        &:hover {
            color: rgb(var(--color-button));
        }
        @include media-breakpoint-down(md) {
            margin-bottom: 16px;
        }
    }
    &__bottom-content {
        > p {
            margin: 0;
        }
        @include media-breakpoint-down(md) {
            flex-direction: column !important;
        }
    }
    &__privacy {
        gap: 24px;
        @include media-breakpoint-down(md) {
            margin-top: 14px;
        }
        a {
            color: rgb(var(--color-foreground));
            text-decoration: none;
            transition: 0.3s;
            text-align: center;
            &:hover {
                color: rgb(var(--color-button));
            }
        }
    }
    .social__wrapper {
        @include media-breakpoint-down(md) {
            flex-direction: column;
            align-items: center;
        }
    }
    .social__label {
        margin-right: 13px;
        @include media-breakpoint-down(lg) {
            margin-right: 8px;
        }
        @include media-breakpoint-down(md) {
            margin-right: 0;
            margin-bottom: 12px;
            margin-top: 36px;
        }
    }
}
.footer .newsletter-form input:-webkit-autofill, .footer .newsletter-form input:-webkit-autofill:focus {
    -webkit-transition: background-color 600000s 0s,color 600000s 0s;
    transition: background-color 600000s 0s,color 600000s 0s;
}