@use '../settings/config' as *;

.products-slider {
    @include media-breakpoint-down(xs) {
        overflow: hidden;
    }
    &__title {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        h2 {
            margin-top: 0;
            margin-bottom: 40px;
            @include media-breakpoint-down(md) {
                margin-bottom: 24px;
            }
        }
    }
    &__content {
        overflow: hidden;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        @include media-breakpoint-down(xs) {
            overflow: visible;
        }
        &.is-loaded {
            opacity: 1;
        }
    }
    &__pagination {
        display: none;
        @include media-breakpoint-down(md) {
            display: flex;
        }
    }
    .custom-swiper-arrows {
        display: flex;
        @include media-breakpoint-down(md) {
            display: none !important;
        }
    }
    &__bottom {
        margin-top: 40px;
        @include media-breakpoint-down(md) {
            margin-top: 24px;
        }
    } 
    .custom-swiper-pagination {
        margin-top: 13px;
    }
}